RPC_URL=
PRIVATE_KEY=
CHAIN_ID=56
WBNB_ADDRESS=0xBB4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c
ROUTER_V2_ADDRESS=0x10ED43C718714eb63d5aA57B78B54704E256024E
LOG_LEVEL=info
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

